---
name: util frame macros
use_case: Utility macros for framing templates
author: abilzerian
version: 0.3.0
---
{% macro trunc(t, n=100) -%}
{{ t|replace('\n',' ')|truncate(n,True,'…') }}
{%- endmacro %}
