---
name: util pe macros
use_case: Utility macros for private_equity templates
author: abilzerian
version: 0.3.0
---
{% import 'utilities/util_pe_macros.j2' as base %}
{{ base.trunc('example text') }}
