---
name: util si macros
use_case: Utility macros for self_reflection templates
author: abilzerian
version: 0.3.0
---
{% macro trunc(txt, n=120) -%}
{{ txt|replace('\n',' ')|truncate(n,True,'…') }}
{%- endmacro %}
