---
name: util schema macros
use_case: Utility macros for schema_ops templates
author: abilzerian
version: 0.3.0
---
{% macro trunc(txt, n=100) -%}
{{ txt|replace('\n',' ')|truncate(n, True, '…') }}
{%- endmacro %}
