---
name: util pc macros
use_case: Utility macros for med_point_care templates
author: abilzerian
version: 0.3.0
---
{% macro trunc(txt, n=100) -%}
{{ txt|replace('\n', ' ')|truncate(n, True, '…') }}
{%- endmacro %}
