/* made on 230720 by martx @ forum.obsidian.md (: */
/*- caltab : Dataview Calendar-style Tables ------*/
div[data-callout="caltab"].callout { --callout-icon: none; background-color: transparent; padding: 0 8px; margin: 0; border: unset; box-shadow: unset }
div[data-callout="caltab"].callout :is(i, em) { color: var(--text-muted) }
div[data-callout="caltab"].callout :is(b, strong) { color: initial }
div[data-callout="caltab"].callout .callout-title :is(h1, h2, h3, h4, h5, h6) { color: var(--interactive-accent); display: flex; align-items: center; margin: 0.6rem 0 1rem; padding: 0 8px; font-size: 1.5em; font-weight: 500; text-transform: capitalize }
div[data-callout="caltab"].callout table { width: 100% }
div[data-callout="caltab"].callout table th { color: var(--text-muted);font-size: 0.6em; letter-spacing: 1px; padding: 4px; text-transform: uppercase }
div[data-callout="caltab"].callout table :is(th, td) { text-align: center }
div[data-callout="caltab"].callout table { margin-block-start: 0; margin-block-end: 1em } /*in case a theme like Buena Vista declares its own margins*/