---
name: util ms macros
use_case: Utility macros for med_scholar templates
author: abilzerian
version: 0.3.0
---
{% macro trunc(t, n=100) -%}
{{ t|replace('\n', ' ')|truncate(n, True, '…') }}
{%- endmacro %}
